


main {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    min-height: 30vh;
    min-width: 20vh;
    align-self: center;
    justify-content: center;
    border-radius:5px;
    box-shadow: 3px 3px 3px black;
    font-family: Arial, Helvetica, sans-serif;
}
.loginForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius:5px;
    color: white;
    width: 100%;
    }

    .loginForm button, .loginForm input {
        border-radius:5px;
        color: white;
        background-color: black;
        color: white;

        }

.form {
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    padding: 10px;
    width: 440px;
    max-width: 70%;
    max-height: 60px;
    background-color: gray;
    border-radius:5px;
    box-shadow: 3px 3px 3px white;
    color: white;
    }

    .form button {
        margin: 8px;
        padding: 4px;
        background-color: black;
        color: white;
        box-shadow: 0;
        border: 0;
        border-radius: 5px;
        width: 80%;
        height: 30px;

    }
    .form input{
        width: 80%;
        height: 30px;
    }

.headerText {
    z-index: 10;
    color: black;
    padding: 30px;
    margin: 0;
    min-width: 100%;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 60px;

}
button.loginButton {
    display: flex;
    text-align: center;
}

.loginButton p {
    display: flex;
    text-align: center;
}



