
div.cards {
    display:flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 12px;
    border-radius:15px;
    box-shadow: 3px 3px 3px black;
    color: white;
    background-color: 	#212121;
}

div.cards img {
    border-radius:15px;
    margin: 2px;
  
}

img.maincardImg  {
    border-radius:15px;
    margin: 2px;
    max-width: 100%;

}
div.cards h3 {
   text-align: center;
   font-weight: 400;
   font-style: italic;
   letter-spacing: 2.5px;
}

div.cards p {
    text-align: center;
    font-weight: 600;
    font-style: bold;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0;
 }

 a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-style: bold;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0;
    
 }

 a:hover {
    color: white;
    text-decoration: underline;
    font-weight: 600;
 }

 a:visited {
    color: white;
    text-decoration: none;

 }

 @media (min-width: 1231px) {
   div.cards {
      display: inline-flex;
      flex-direction: row;


   }
   div.cards.topTrack {
      display: none;

   }
   div.cards img {
      margin: 1px;
      max-width: 90%;
   }

   img.maincardImg {
      margin: 1px;
      max-width: 90%;
   }

   div.cards h3 {
      font-size: 1em;
   }

   div.cards p {
      font-size: 1em;
   }

   a {
      font-size: 1em;
   }


}





@media (min-width: 700px) {
   div.cards {
      display: inline-block;
      flex-direction: row;
      padding: 5px;
      margin: 6px;
      max-width: 25%;
      align-items: center;
      justify-content: center;
      width: 100;
      text-align: center;
      margin-left: 85px;
      margin-bottom: 20px;
      margin-top: 20px;
   }
   div.cards.topTrack {
      display: none;

   }

   div.cards img {
      margin: 1px;
      max-width: 80%;
   }

   img.maincardImg {
      margin: 1px;
      max-width: 80%;
   }

   div.cards h3 {
      font-size: 1em;
   }

   div.cards p {
      font-size: 1em;
   }

   a {
      font-size: 1em;
   }
}

 