
div.cards {
    display:flex;
    flex-direction: column;
    align-self: center;
    text-align: start;
    justify-content: center;
    padding: 90px;
    margin: 12px;
    border-radius:5px;
    box-shadow: 3px 3px 3px black;
    max-height: 120px;
    max-width: 90px;
    color: white;
    background-color: black;
}
div.cards img {
    display: flex;
    align-self: center;
    max-width: 150%;
    height: 100%;
    border-radius:5px;
    box-shadow: 3px  white;
}
div.cards h3 {
   text-align: center;
   font-weight: 400;
   font-style: italic;
   letter-spacing: 2.5px;
}

div.cards p {
    text-align: center;
    font-weight: 600;
    font-style: bold;
    letter-spacing: 1.5px;
    margin-top: 2px;
    margin-bottom: 0;
    margin-right: 0;
 }

 div.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 100%);
    background-color: hwb(0 100% 0%);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;

}
div.card img {
    max-width: 60%;
    height: auto;
    border-radius: 70%;
    margin-bottom: 10px;

}
div.card h3 {
    font-family: sans-serif;
    margin: 0;
    color: black;
  
}

div.card p {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 30%);


 }
 