
 .searchContainer {
  display: flex;
  flex-direction: column;
  background-color: limegreen;
  margin-top: 4px;
  min-height: 180px;
  max-width: 90;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px ;
  margin: 4px;
  margin-top: 6px;
 }

 .searchContainer h1 {
    color: white;
    align-self: center;
    justify-self: center;
    min-width: 253px;
 }
 .searchContainer p {
   color: white;
   align-self: center;
   justify-self: center;
   
}
 .searchContainer img {
   margin-top: 33px;
   max-width: 120px;
    align-self: center;
    margin-bottom: 4px;


 }
 .searchContainer form {
    align-self: center;
    justify-self: center;
    text-align: center;
    
 }
 .searchContainer form input {
    padding: 6px;
    border-radius: 5px;
    margin-right: 2px;
    box-shadow: 2px 2px 2px gray;
    background-color: white;
 }
 .searchContainer form button , button.loginButton {
    padding: 6px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    background-color: white;

 }
 div.container.albumsContainer{
   display: grid;
   justify-content: space-evenly;
   grid-template-columns: repeat(4, minmax(200px, 1fr));
   gap: 10px
 }
 div.container.topTrack {
   display: grid;
   justify-content: space-evenly;
   grid-template-columns: repeat(4, minmax(200px, 1fr));
   gap: 10px
  
 }

 div.ProfileContainer {
   display: grid;
   grid-template-columns: repeat(auto, minmax(200px, 1fr));
 }
 
 div.playlistItem {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 10px;
   
    
  }
 div.cards.artistCard {
   background-color: #121212;
 }

 div.ProfileCard {
   background-color: #121212;
 }